---
import Card from "../components/card.astro";
import Layout from "../layouts/MainLayout.astro";

const posts = await Astro.glob("./blog/*.md").then((posts) =>
  posts.map(({ frontmatter, url }) => ({  
    url: url,
    title: frontmatter.title,
    description: frontmatter.description,
    publishDate: frontmatter.publishDate,
  }))
);

---

<Layout title="Vinicius Ventura - Blog">
  <div class="flex justify-between lg:flex-row flex-col items-center">
    <div>
      <h1 class="text-6xl font-semibold text-[#08678C]">Vinicius Ventura</h1>
      <h3>This is my personal blog</h3>
    </div>
    <img class="w-[30rem]" src="../../Bloging.svg" alt="" />
  </div>
  <div class="mt-20 grid lg:grid-cols-2 gap-2 lg:gap-6 w-full">
        {posts.map((post) => <Card post={post} />)}
  </div> 
</Layout>
