---
import Card from "../components/card.astro";
import Layout from "../layouts/MainLayout.astro";

const posts = await Astro.glob("./blog/*.md").then((posts) =>
  posts.map(({ frontmatter, url }) => ({  
    url: url,
    title: frontmatter.title,
    description: frontmatter.description,
    publishDate: frontmatter.publishDate,
  }))
);

---

<Layout title="Vinicius Ventura - Blog">
  <div class="flex lg:flex-row flex-col justify-between items-center">
    <div>
      <div class="flex lg:text-5xl text-6xl text-center lg:text-start font-semibold text-[#08678C]">
        <h1
          id="name"
          class=""
        >
        </h1>
        <span class="input-cursor border-r-2 border-[#08678C]"></span>
      </div>
      <h3>This is my personal blog</h3>
    </div>
    
  </div>
  <div class="mt-20 grid lg:grid-cols-2 gap-2">
        {posts.map((post) => <Card post={post} />)}
  </div>
</Layout>

<script is:inline>
  var i = 0;
  var name = "Vinicius Ventura";
  var typingSpeed = 100;

  function write() {
    if (i < name.length) {
      document.getElementById("name").innerHTML += name.charAt(i);
      document.getElementById("name").classList.add("typing-container");
      i++;
      setTimeout(write, typingSpeed);
    }
  }

  write();
</script>

<style>
  
  @keyframes blink {
    0% {
      opacity: 1;
    }
    40% {
      opacity: 1;
    }
    60% {
      opacity: 0;
    }
    100% {
      opacity: 0;
    }
  }

  .input-cursor {
    animation: blink 0.5s linear infinite alternate;
  }
</style>