---
import Card from '../components/card.astro';
import Layout from '../layouts/MainLayout.astro';
---

<Layout title="Vinicius Ventura - Blog">
        <h1 class="text-6xl font-semibold">Vinicius Ventura</h1>
        <h3>This is my personal blog</h3>

        <div class="mt-20 grid gap-6 w-full">
        <Card title="Websockets" body="slamano" language="" link="#"/>
        <Card title="Websockets" body="slamano" language="" link="#"/>
        <Card title="Websockets" body="slamano" language="" link="#"/>
        <Card title="Websockets" body="slamano" language="" link="#"/>
                 
        </div>
</Layout>