---
import AboutMe from "../sections/AboutMe.astro";
import Hero from "../sections/Hero.astro";
import Layout from "../layouts/MainLayout.astro";
import ProjectsSection from "../sections/ProjectsSection.astro"
import Contacts from "../sections/Contacts.astro";
---

<head>
  <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet" />
</head>

<Layout title="Vinicius Ventura">
  <div class="main">
    <div class="mt-20 lg:mt-32">
      <div class="flex lg:flex-row flex-col justify-between items-center">
       <Hero/>
      </div>
    </div>
    <img
      src="../go-logo.svg"
      class="h-0 golas absolute cursor-pointer"
      alt=""
    />
    <div>
      <AboutMe />
      <ProjectsSection />
      <Contacts />
    </div>
  </div>
</Layout>

<script is:inline>
function printMousePos(event) {
  golas();
}

var golasImg = document.querySelector(".golas");

function golas() {
  if(golasImg.style){
    let top = Math.floor(Math.random() * (window.screen.height - 40) + 40);
  let left = Math.floor(Math.random() * (window.screen.width - 40) + 40);
  let golasImg = document.querySelector(".golas");
  golasImg.style.top = `${top}px`;
  golasImg.style.left = `${left}px`;
  }
}

function showGolas() {
  golasImg.style.height = "32px";
}

setTimeout(() => {
  showGolas();
}, 60000);

document.addEventListener("click", printMousePos);

</script>
<script is:inline src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<script is:inline>
  document.addEventListener("astro:page-load", ()=>{AOS.init()})
  if(AOS){
    AOS.init();
  }
</script>

<style>
  :global(.dark) .teste {
    fill: white;
  }

  :global(html) {
    scroll-behavior: smooth;
  }
  @media (prefers-reduced-motion: reduce) {
    :global(html) {
      scroll-behavior: auto;
    }
  }
</style>
