---
import Layout from '../layouts/MainLayout.astro';
import Card from '../components/card.astro';


---

<Layout title="Vinicius Ventura">
    <div class="flex lg:flex-row flex-col justify-between items-center">
        <div>
        <h1 class="lg:text-6xl text-6xl font-semibold text-[#08678C]">Vinicius Ventura</h1>
        <h3>Junior Web Developer</h3>
        <div class="flex lg:gap-5 gap-2">
        <a href="https://github.com/viniciusventura29"><button class="gap-2 px-1 py-2"><img class="lg:w-[1.75rem] w-[1.5rem]" src="../../github.svg" alt="" > GitHub</button></a>
        <a href="https://www.linkedin.com/in/vini-ventura29/"><button class="gap-2 px-2 py-2"><img class="lg:w-[1.75rem] w-[1.5rem]" src="../../linkedin.svg" alt="" > Linkedin</button></a>
        </div>
        </div>
        <img class="w-[30rem]" src="../../Software-Developer.svg" alt="" />
    </div>

    <h1 id="AboutMe" class="mt-20 lg:mt-36 text-4xl font-medium mb-4">About Me</h1>
    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
        Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an 
        unknown printer took a galley of type and scrambled it to make a type specimen book. 
        It has survived not only five centuries, but also the leap into electronic typesetting, 
        remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset 
        sheets containing Lorem Ipsum passages, and more recently with desktop publishing software 
            like Aldus PageMaker including versions of Lorem Ipsum.</p>

    <h1 id="Projects" class="mt-20 lg:mt-36 text-4xl w-full font-medium mb-6">Projects</h1>
    <div class="grid lg:grid-flow-col grid-rows-2 gap-2">
        <a target="_blank" href="https://github.com/viniciusventura29/Django_WebSocket">
            <img class="w-9/12" src="https://github-readme-stats.vercel.app/api/pin/?username=viniciusventura29&repo=Django_WebSocket">
        </a>
        <a target="_blank" href="https://github.com/viniciusventura29/monkeypad">
            <img class="w-9/12" src="https://github-readme-stats.vercel.app/api/pin/?username=viniciusventura29&repo=monkeypad">
        </a>
        <a target="_blank" href="https://github.com/viniciusventura29/bank_app">
            <img class="w-9/12" src="https://github-readme-stats.vercel.app/api/pin/?username=viniciusventura29&repo=bank_app">
        </a>
        <a target="_blank" href="https://github.com/viniciusventura29/Elixir_RealTimeChat">
            <img class="w-9/12" src="https://github-readme-stats.vercel.app/api/pin/?username=viniciusventura29&repo=Elixir_RealTimeChat">
        </a>
    </div>
    <a target="_blank" href="https://github.com/viniciusventura29"><button>Projects &nbsp; ➤</button></a>

    <h1 id="Contacts" class="mt-20 lg:mt-36 text-4xl font-medium mb-4">Contacts</h1>
    <div class="flex flex-col w-[16rem]">
        <a class="mb-2" href="https://github.com/viniciusventura29">💻 - ViniciusVentura29</a>
        <a class="mb-2" href="https://www.linkedin.com/in/vini-ventura29/">💼 - Vini-ventura29</a>
        <p class="mb-2">📧 - ViniciusVentura29@gmail.com</p>
    </div>
</Layout>