---
import Layout from "../layouts/MainLayout.astro";
import Card from "../components/card.astro";
---

<Layout title="Vinicius Ventura">
  <div class="flex lg:flex-row flex-col justify-between items-center">
    <div class="flex flex-col items-center lg:items-start">
      <div class="flex lg:text-6xl text-6xl text-center lg:text-start font-semibold text-[#08678C]">
        <h1
          id="name"
          class=""
        >
        </h1>
        <span class="input-cursor border-r-2 border-[#08678C]"></span>
      </div>
      <h3>Junior Web Developer</h3>
      <div class="flex lg:gap-2 gap-2">
        <a href="https://github.com/viniciusventura29"
          ><button class="gap-2 items-center"
            ><img
              class="lg:w-[1.5rem] w-[1.5rem]"
              src="../../brand-github.svg"
              alt=""
            /> GitHub</button
          >
        </a>
        <a href="https://www.linkedin.com/in/vini-ventura29/"
          ><button class="gap-2 items-center"
            ><img
              class="lg:w-[1.5rem] w-[1.5rem]"
              src="../../brand-linkedin (1).svg"
              alt=""
            /> Linkedin</button
          >
        </a>
      </div>
    </div>
  </div>

  <h1
    id="AboutMe"
    class="mt-20 lg:mt-36 text-4xl font-medium text-[#011C40] mb-6"
  >
    About Me
  </h1>
  <div>
    <p class="font-semibold text-xl my-2">Me</p>
    <p class="ml-2">
      Hi! I'm Vinicius Ventura, a young web and software developer that is
      looking for new knowledges and opportunities.
    </p>

    <p class="font-semibold text-xl my-2">Jobs</p>
    <p class="ml-2">
      I'm currently work at Bosch, is my first formal job, but, before I started
      to work here, I was used to work with web design autonomously. When I
      worked like a designer, I used to do posts for Instagram and Facebook,
      logotypes, visual identies, arts for Whatsapp and others. About my
      currently job, me and my team, develop softwares and websites to the
      internals.
    </p>

    <p class="font-semibold text-xl my-2">Education</p>
    <p class="ml-2">
      Talking a little bit about my education, I have been just already finished
      a developer system technical course at Etec Polivalente, in my high
      school, and now I'm doing another technical course, focoused in web
      developing at Senai Roberto Mange and in parallel I'm graduating at Fatec
      Americana.
    </p>
  </div>

  <div>
    <h1
      id="Projects"
      class="mt-20 lg:mt-36 text-4xl w-full font-medium text-[#011C40] mb-6"
    >
      Projects
    </h1>
    <div class="grid lg:grid-flow-col grid-rows-2 gap-2">
      <a
        target="_blank"
        href="https://github.com/viniciusventura29/Django_WebSocket"
      >
        <img
          class="w-12/12"
          src="https://github-readme-stats.vercel.app/api/pin/?username=viniciusventura29&repo=Django_WebSocket"
        />
      </a>
      <a target="_blank" href="https://github.com/viniciusventura29/monkeypad">
        <img
          class="w-12/12"
          src="https://github-readme-stats.vercel.app/api/pin/?username=viniciusventura29&repo=monkeypad"
        />
      </a>
      <a target="_blank" href="https://github.com/viniciusventura29/bank_app">
        <img
          class="w-12/12"
          src="https://github-readme-stats.vercel.app/api/pin/?username=viniciusventura29&repo=bank_app"
        />
      </a>
      <a
        target="_blank"
        href="https://github.com/viniciusventura29/Elixir_RealTimeChat"
      >
        <img
          class="w-12/12"
          src="https://github-readme-stats.vercel.app/api/pin/?username=viniciusventura29&repo=ElixirChat"
        />
      </a>
    </div>
    <a target="_blank" class="" href="https://github.com/viniciusventura29"
      ><button class="text-[#074973] border-[#074973]">Projects &nbsp; ➤</button
      >
    </a>
  </div>

  <h1
    id="Contacts"
    class="mt-20 lg:mt-36 text-4xl font-medium text-[#011C40] mb-4"
  >
    Contacts
  </h1>
  <div class="flex flex-col w-[16rem]">
    <a class="mb-2 text-[#011C40] hover:underline" href="https://github.com/viniciusventura29"
      >💻 - ViniciusVentura29</a
    >
    <a
      class="mb-2 text-[#011C40] hover:underline"
      href="https://www.linkedin.com/in/vini-ventura29/">💼 - Vini-ventura29</a
    >
    <p class="mb-2 text-[#011C40]">📧 - ViniciusVentura29@gmail.com</p>
  </div>
</Layout>

<script is:inline>
  var i = 0;
  var name = "Vinicius Ventura";
  var typingSpeed = 100;

  function write() {
    if (i < name.length) {
      document.getElementById("name").innerHTML += name.charAt(i);
      document.getElementById("name").classList.add("typing-container");
      i++;
      setTimeout(write, typingSpeed);
    }
  }

  write();
</script>

<style>
  :global(html) {

    scroll-behavior: smooth;
   }
   @media (prefers-reduced-motion: reduce) {
     :global(html) {
       scroll-behavior: auto;
     }
    }

  .input-cursor {
    display: inline-block;
    background-color: white;
    margin-left: 8px;
  }

  @keyframes blink {
    0% {
      opacity: 1;
    }
    40% {
      opacity: 1;
    }
    60% {
      opacity: 0;
    }
    100% {
      opacity: 0;
    }
  }

  .input-cursor {
    animation: blink 0.5s linear infinite alternate;
  }
</style>


