---
import Layout from "../layouts/MainLayout.astro";

type Projects = {
  title: string;
  description: string;
  img: string;
  link: string;
}[];

const projects: Projects = [
  { title: "title", description: "OI", img: "", link: "" },
];
---

<Layout title="Vinicius Ventura">
  <main>
    <div class="flex flex-col justify-items-center rounded-lg">
      {
        projects.map((pr) => {
          <div class="bg-gray-500 w-full col-span-4 h-full rounded-t shadow" >{pr.title}</div>;
        })
      }
    </div>
  </main>
</Layout>
