---
import Layout from "../layouts/MainLayout.astro";

type Projects = {
  title: string;
  description: string;
  img: string;
  link: string;
}[];

const projects: Projects = [
  {
    title: "Notes",
    description:
      "The notes is a website to support you manage your annotations!",
    img: "./notes.png",
    link: "https://github.com/viniciusventura29/Notes",
  },
  {
    title: "Bosch Einer",
    description:
      " A bosch Toolkit and Developer ecossystem, revamped (Experience using Typescript, ReactJS, Microservices and Monorepos)",
    img: "",
    link: "https://github.com/ets-einer/einer",
  },
  {
    title: "The Books",
    description:
      "This is website was developed to help people to organize themself with they personal tasks. This website contain three tools, a notes tool, a to do list and a Kanban methology tool Also have a auth system to everyone create your own user.",
    img: "",
    link: "https://github.com/viniciusventura29/books",
  },
  {
    title: "Robosch",
    description:
      "I won the first place in a Bosch hackathon with this project! Me and my group, developed this project to help and support new apprendices at Bosch, because, a apprentice has a lot of doubts about the interprise, the rules, areas and other similar things. So, to help this new colaborators, we developed this chatBot thats use Machine learning to get better answers. The robosch can be on web, Whatsapp and also telegram!",
    img: "./robosch.png",
    link: "https://github.com/viniciusventura29/robosch_backend",
  },
  {
    title: "Bosch internals projects",
    description:
      "I developed some internals projects at bosch. projects like websites, api's, chatBots and desktop softwares. The technologies core used in this projects was Python and TypeScript.",
    img: "",
    link: "",
  },
  {
    title: "Personals projects",
    description:
      "I developed a lot of personals projects using severals technologies! In the backend I developed projects using: - Golang - Deno - Elixir - Node In the front-end I just have used: - React - Nextjs - Fresh - Phoenix",
    img: "",
    link: "https://github.com/viniciusventura29?tab=repositories",
  },
];
---

<Layout title="Vinicius Ventura">
  <main>
    <div class="flex flex-col gap-5 justify-items-center">
      {
        projects.map((pr) => (
          <div class="bg-[#e5e9e9] cursor-pointer hover:shadow-lg dark:bg-[#262036] w-full col-span-4 h-full rounded shadow-md p-4 flex flex-col">
            <img class="rounded w-full h-52" src={pr.img} alt="" />
            <h2 class="text-tertiaryBlue font-semibold dark:text-[#eee] mt-4">{pr.title}</h2>
            <p class="text-gray-500 dark:!text-gray-400">{pr.description}</p>

            <a class="p-2 overflow-hidden w-9 mt-4 hover:bg-[#cdcfcf] hover:dark:bg-[#332b48] rounded" target="_blank" href={pr.link}>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="icon icon-tabler icon-tabler-brand-github"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                fill="none"
                stroke-linecap="round"
                stroke-linejoin="round"
              >
                <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                <path d="M9 19c-4.3 1.4 -4.3 -2.5 -6 -3m12 5v-3.5c0 -1 .1 -1.4 -.5 -2c2.8 -.3 5.5 -1.4 5.5 -6a4.6 4.6 0 0 0 -1.3 -3.2a4.2 4.2 0 0 0 -.1 -3.2s-1.1 -.3 -3.5 1.3a12.3 12.3 0 0 0 -6.2 0c-2.4 -1.6 -3.5 -1.3 -3.5 -1.3a4.2 4.2 0 0 0 -.1 3.2a4.6 4.6 0 0 0 -1.3 3.2c0 4.6 2.7 5.7 5.5 6c-.6 .6 -.6 1.2 -.5 2v3.5" />
              </svg>
            </a>
          </div>
        ))
      }
    </div>
  </main>
</Layout>
