---
export interface Props{
    title : string;
    body: string;
    data: string;
    link: string;
}
const {title,body,data,link} = Astro.props;
---
<a href={link}>
    <div class="border hover:bg-slate-100 border-gray-800 rounded-md p-4">
        <h5 class="text-xl font-semibold">{title}</h5>
        <h5 class="text-xs lg:pr-20 text-slate-800 mt-2">{body}</h5>
        <h5 class="text-xs text-slate-500 italic mb-2 mt-4">{data}</h5>

    </div>
</a>

