---
export interface Props {
  post: any;
}
const { post } = Astro.props;
---

<a href={post.url}>
  <div class="border hover:bg-slate-100 border-gray-800 rounded-md p-4">
    <h5 class="text-xl font-semibold">{post.title}</h5>
    <h5 class="text-xs lg:pr-20 text-slate-800 mt-2">{post.description}</h5>
    <time class="text-xs text-slate-500 bottom-0 italic mb-2 mt-4"
      >{post.publishDate}
    </time>
  </div>
</a>
