<nav class='flex flex-col lg:flex-row mb-20 lg:mb-32 py-6 justify-between'>
    <div class="flex lg:mr-20">
        <a href="/"><h2 class="font-semibold text-[#011C40]">Vinicius Ventura</h2></a>
    </div>
    <div class="flex items-center justify-between lg:w-80">
        <a class="text-[#011C40]" href="/#Projects">Projects</a>
        <a class="text-[#011C40]" href="/#AboutMe">About me</a>
        <a class="text-[#011C40]" href="/blog">Blog</a>
        <a class="text-[#011C40]" href="/#Contacts">Contacts</a>
    </div>
</nav>
