<nav class='flex items-center justify-center p-4 w-full bg-transparent'>
    <div class="navbar flex">
    <div class="mr-20">
        <h2>LOGOTIPO</h2>
    </div>
    <div class="flex justify-between w-80">
        <a href="">Projects</a>
        <a href="">About me</a>
        <a href="/blog">Blog</a>
        <a href="">Contacts</a>
    </div>
    </div>
</nav>

<style>
    .navbar{
        max-width: 70ch;
    }
</style>