<nav class='flex mb-32 justify-between'>
    <div class="mr-20">
        <a href="/"><h2 class="font-semibold">LOGOTIPO</h2></a>
    </div>
    <div class="flex items-center justify-between w-80">
        <a href="">Projects</a>
        <a href="">About me</a>
        <a href="/blog">Blog</a>
        <a href="">Contacts</a>
    </div>
</nav>
