<nav class="flex flex-col lg:flex-row py-6 justify-between" transition:persist>
  <a href="/"
    ><h2
      class="font-semibold text-blue-100 hover:underline mt-0 text-lg 2xl:text-xl"
    >
      <span class="text-gray-700 ">{`<`}</span>Vinicius Ventura <span class="text-gray-700">{`/>`}</span>
    </h2></a>
    <div
      class="flex items-center justify-between 2xl:w-80 w-60 text-sm 2xl:text-base"
    >
      <a class="text-blue-100 hover:underline" href="/#Projects"
        >Projects</a
      >
      <a class="text-blue-100 hover:underline" href="/#AboutMe"
        >About me</a
      >
      <a class="text-blue-100 hover:underline" href="/blog"
        >Blog</a
      >
      <a class="text-blue-100 hover:underline" href="/#Contacts"
        >Contacts</a
      >
    </div>
    <!-- <ThemeIcon transition:persist/> -->
</nav>
