<nav class='flex flex-col lg:flex-row mb-20 lg:mb-32 py-6 justify-between'>
    <a href="/"><h2 class="font-semibold text-[#011C40] hover:underline">Vinicius Ventura</h2></a>
    <div class="flex items-center justify-between lg:w-80">
        <a class="text-[#011C40] hover:underline" href="/#Projects">Projects</a>
        <a class="text-[#011C40] hover:underline" href="/#AboutMe">About me</a>
        <a class="text-[#011C40] hover:underline" href="/blog">Blog</a>
        <a class="text-[#011C40] hover:underline" href="/#Contacts">Contacts</a>
    </div>
</nav>
