<nav class="flex items-center justify-between py-6" transition:persist>
  <a href="/" class="font-semibold text-blue-100 hover:text-blue-50 transition-colors">
    <span class="text-slate-600">{"<"}</span>ventura<span class="text-slate-600">{" />"}</span>
  </a>
  
  <div class="flex items-center gap-6 text-sm">
    <a class="text-slate-400 hover:text-blue-200 transition-colors" href="/blog">
      Blog
    </a>
    <a 
      class="text-slate-400 hover:text-blue-200 transition-colors" 
      href="https://github.com/viniciusventura29"
      target="_blank"
    >
      GitHub
    </a>
  </div>
</nav>
