<nav class='flex flex-col lg:flex-row mb-20 lg:mb-32 py-6 justify-between'>
    <div class="flex lg:mr-20">
        <a href="/"><h2 class="font-semibold">LOGOTIPO</h2></a>
    </div>
    <div class="flex items-center justify-between lg:w-80">
        <a href="/#Projects">Projects</a>
        <a href="/#AboutMe">About me</a>
        <a href="/blog">Blog</a>
        <a href="/#Contacts">Contacts</a>
    </div>
</nav>
