<h1 id="AboutMe" class="mt-20 lg:mt-36 text-3xl font-medium text-blue-300 mb-6">
  About Me
</h1>
<div>
  <p data-aos="fade-up" class="text-blue-200 font-semibold text-xl my-2">
    Me 👨🏻‍💻
  </p>
  <p data-aos="fade-up" class="ml-2">
    Hi! I'm Vinicius Ventura, a young web and software developer that is very
    enthusiastic about software architecture, software engineer and web
    development. I always looking for new knowledges and opportunities, I love
    learn new things and undestand about them.
  </p>

  <p data-aos="fade-up" class="text-blue-200 font-semibold text-xl my-2">
    Jobs Experiences 💼
  </p>
  <p data-aos="fade-up" class="ml-2">
    I'm currently work at Bosch, is my first formal job, but, before I started
    at Bosch, I used to work with web design autonomously. When I worked like a
    designer, I used to do posts for Instagram and Facebook, logotypes, visual
    identities, arts for Whatsapp and others. About my currently job, I work
    with two activies, first one is web developer and other is celonis
    developer.
    <br /><br />
    In web dev I develop websites with nationals and internationals teams using typescript
    (nodejs, react).
    <br /><br />
    In celonis dev I develop SQL and PQL codes to analysis O2C (Order to cash) proccess
    with nationals and internationals teams.
    <br /><br />
    But I am looking for head all my jobs hour to web development
  </p>

  <p data-aos="fade-up" class="text-blue-200 font-semibold text-xl my-2">
    Education 📚
  </p>
  <p data-aos="fade-up" class="ml-2">
    About my education, I have been just finished a system development technical
    course at Etec Polivalente, in my high school, finished another technical
    course, focoused in web developing at Senai Roberto Mange and graduated in
    analysis and development systems at Fatec Americana.
    <br /><br />
    <ul class="list-disc list-inside ml-3 text-xs">
      <li>System development technical course (2019 - 2021)</li>
      <li>System development technical course (2022 - 2023)</li>
      <li>Analysis and development systems Graduation (2022 - 2023)</li>
    </ul>
  </p>
  <p data-aos="fade-up" class="text-blue-200 font-semibold text-xl my-2">
    Hobbies ❤️
  </p>
  <p data-aos="fade-up" class="ml-2">
    About my hobbies, I could say that my actual favorite thing to do is
    programing, I'm passionated and I love study about it. besides my programing
    love, I'm crazy about music, I like too much play instruments and sing.
    Usually when I have a burnout beacuse of programming, I try to play or hear
    music, because this definitely calm myself down. I like play videogames and
    hangout with my familly and friends this make me very happy.
  </p>
</div>
