<div class="flex flex-col items-center w-full relative">
  <div class="circle-img"></div>

  <div
    class="flex lg:text-5xl text-3xl text-center lg:text-start font-semibold text-blue-300"
  >
    <h1 id="name" class=""></h1>
    <span class="input-cursor border-r-2 border-[#08678C]"></span>
  </div>
  <h3>Web Developer</h3>
  <div class="flex lg:gap-5 mt-7 gap-2">
    <a href="https://github.com/viniciusventura29" target="_blank"
      ><button
        class="gap-2 items-center bg-transparent hover:bg-[#2c2738] p-2 rounded"
        ><svg
          xmlns="http://www.w3.org/2000/svg"
          class="icon icon-tabler icon-tabler-brand-github"
          width="29"
          height="29"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          fill="none"
          stroke-linecap="round"
          stroke-linejoin="round"
        >
          <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
          <path
            d="M9 19c-4.3 1.4 -4.3 -2.5 -6 -3m12 5v-3.5c0 -1 .1 -1.4 -.5 -2c2.8 -.3 5.5 -1.4 5.5 -6a4.6 4.6 0 0 0 -1.3 -3.2a4.2 4.2 0 0 0 -.1 -3.2s-1.1 -.3 -3.5 1.3a12.3 12.3 0 0 0 -6.2 0c-2.4 -1.6 -3.5 -1.3 -3.5 -1.3a4.2 4.2 0 0 0 -.1 3.2a4.6 4.6 0 0 0 -1.3 3.2c0 4.6 2.7 5.7 5.5 6c-.6 .6 -.6 1.2 -.5 2v3.5"
          ></path>
        </svg>
      </button>
    </a>
    <a href="https://www.linkedin.com/in/vini-ventura29/" target="_blank"
      ><button
        class="gap-2 items-center bg-transparent hover:bg-[#2c2738] p-2 rounded"
        ><svg
          xmlns="http://www.w3.org/2000/svg"
          class="icon icon-tabler icon-tabler-brand-linkedin"
          width="32"
          height="32"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          fill="none"
          stroke-linecap="round"
          stroke-linejoin="round"
        >
          <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
          <rect x="4" y="4" width="16" height="16" rx="2"></rect>
          <line x1="8" y1="11" x2="8" y2="16"></line>
          <line x1="8" y1="8" x2="8" y2="8.01"></line>
          <line x1="12" y1="16" x2="12" y2="11"></line>
          <path d="M16 16v-3a2 2 0 0 0 -4 0"></path>
        </svg>
      </button>
    </a>
  </div>
</div>

<script is:inline>
var i = 0;
var name = "Vinicius Ventura";
var typingSpeed = 100;

function write() {
  if (i < name.length) {
    document.getElementById("name").innerHTML += name.charAt(i);
    document.getElementById("name").classList.add("typing-container");
    i++;
    setTimeout(write, typingSpeed);
  }
}

write();
</script>

<style>
  span {
    animation: blink 1s linear infinite;
  }
  @keyframes blink {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 0.5;
    }
    100% {
      opacity: 1;
    }
  }

  .circle-img {
    width: 320px;
    height: 320px;
    background-color: #2c2738;
    margin-bottom: 2rem;
    display: flex;
    background-size: cover;
    background-image: url("/foto.jpg");
    animation:
      sensualImg 12s linear infinite,
      3s linear infinite alternate boxMagic;
  }

  @keyframes sensualImg {
    0% {
      border-radius: 65% 35% 39% 61% / 57% 38% 62% 43%;
    }
    50% {
      border-radius: 27% 73% 64% 36% / 34% 53% 47% 66%;
    }
    100% {
      border-radius: 65% 35% 39% 61% / 57% 38% 62% 43%;
    }
  }

  @keyframes boxMagic {
    from {
      box-shadow:
        0 0 0 #02507a,
        0 0 0 #042c43;
    }
    to {
      box-shadow:
        0 -5px 0 #042c43,
        0 5px 0 #02507a;
    }
  }

  @media (max-width: 768px) {
    .circle-img {
      width: 180px;
    height: 180px;
    }
  }
</style>
