<div>
  <h1
    id="Projects"
    class="mt-20 lg:mt-36 text-4xl w-full font-medium dark:text-blue-300 text-[#011C40] mb-6"
  >
    Projects 💻
  </h1>
  <div>
    <ul class="space-y-4 dark:text-[#eee] text-gray-500 list-disc list-inside">
      <li data-aos="fade-up">
        <strong>Notes</strong> - This website is my personal notes, where I use
        to organize myself.
      </li>
      <li data-aos="fade-up">
        <strong>Bosch Einer</strong> - A bosch Toolkit and Developer ecossystem,
        revamped (Experience using Typescript, ReactJS, Microservices and
        Monorepos)
      </li>
      <li data-aos="fade-up">
        <strong>The Books</strong> - This is website was developed to help
        people to organize themself with they personal tasks. This website
        contain three tools, a notes tool,a to do list and a Kanban methology
        tool Also have a auth system to everyone create your own user.
      </li>
      <li data-aos="fade-up">
        <strong>Personals projects</strong> - I developed a lot of personals
        projects using severals technologies!
      </li>
       In the backend I developed projects using: - Golang - Deno - Elixir -
      Node
    </ul>
     In the front-end I just have used: - React - Nextjs - Fresh - Phoenix
  </div>
  <li data-aos="fade-up">
    <strong>Robosch</strong> - I won the first place in a Bosch hackathon with
    this project! Me and my group, developed this project to help and support
    new apprendices at Bosch, because, a apprentice has a lot of doubts about
    the interprise, the rules, areas and other similar things. So, to help this
    new colaborators, we developed this chatBot thats use Machine learning to
    get better answers. The robosch can be on web, Whatsapp and also telegram!
  </li>
  <li data-aos="fade-up">
    <strong>Bosch internals projects</strong> - I developed some internals
    projects at bosch. projects like websites, api's, chatBots and desktop
    softwares. The technologies core used in this projects was Python and
    TypeScript.
  </li>
</div>

<a target="_blank" href="/projects"
  ><button
    data-aos="fade-up"
    class="dark:text-white dark:border-[#1a16239a] bg-gray-200 hover:bg-gray-300 mt-6 dark:bg-[#312a4267] dark:hover:bg-[#312a42ba] text-sm px-4 py-2 border rounded flex items-center gap-1 "
    >More projects

    <svg
      xmlns="http://www.w3.org/2000/svg"
      class="icon icon-tabler icon-tabler-chevron-right"
      width="20"
      height="20"
      viewBox="0 0 24 24"
      stroke-width="2"
      stroke="currentColor"
      fill="none"
      stroke-linecap="round"
      stroke-linejoin="round"
    >
      <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
      <path d="M9 6l6 6l-6 6"></path>
    </svg>
  </button>
</a>
