---
import NavBar from "../components/NavBar.astro";
import Footer from "../components/Footer.astro";
import ThemeIcon from "../components/ThemeIcon.astro";

interface Props {
  frontmatter: {
    author: string;
    date: string;
    title: string;
  };
}

const { frontmatter } = Astro.props as Props;
---

<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{frontmatter.title}</title>
  </head>
  <body>
    <NavBar />
    <ThemeIcon />
    <slot />
    <Footer />
    <style>
      :root {
        --font-size-base: clamp(1rem, 0.34vw + 0.91rem, 1.19rem);
        --font-size-md: clamp(1rem, 0.34vw + 0.91rem, 1.19rem);
        --font-size-lg: clamp(1.2rem, 0.54vw + 1.11rem, 1.39rem);
        --font-size-xl: clamp(1.6rem, 1.1vw + 1.6rem, 1.9rem);
        --font-size-2xl: clamp(2rem, 1.54vw + 1.41rem, 3.31rem);

        --color-text: hsl(12, 5%, 4%);
        --color-bg: hsl(0, 0%, 99%);
        --color-border: hsl(17, 24%, 90%);
      }

      html {
        font-family: system-ui, sans-serif;
        font-size: var(--font-size-base);
        color: var(--color-text);
        background-color: var(--color-bg);
      }

      html.dark {
        background-color: #1a1625;
        color: #eeeeee;
      }

      .dark a {
        color: #eeeeee;
      }
      .dark p {
        color: #eeeeee;
      }

      body {
        margin-left: 30%;
        margin-right: 30%;
      }

      @media (max-width: 768px) {
        body {
          margin-left: 15%;
          margin-right: 15%;
        }
      }
    </style>

    <style is:global>
      h1 {
        font-size: var(--font-size-2xl);
        color: #00275a;
        font-weight: 600;
        
      }

      .dark h1 {
        color: #93c5fd;
      }

      h2 {
        font-size: var(--font-size-xl);
        color: #003375;
        font-weight: 500;
        margin-top: 2rem;
      }

      .dark h2 {
        color: #93c5fd;
      }

      h3 {
        font-size: var(--font-size-lg);
        color: rgb(34, 34, 34);
        margin-top: 2rem;
      }

      .dark h3 {
        color: #93c5fd;
      }

      h4 {
        font-size: var(--font-size-base);
        margin-top: 1rem;
      }

      .dark h4 {
        color: #93c5fd;
      }

      li {
        letter-spacing: 0.05em;
        text-align: justify;
        line-height: 1.3rem;
        font-size: 0.775rem;
        color: #011c40;
        list-style: inside;
      }

      .dark li {
        color: #bfdbfe;
      }

      hr {
        margin-top: 1rem;
        border-top-width: 2px;
      }

      blockquote p {
        margin: 0 0 1.2rem 1.1rem;
        letter-spacing: 0.05em;
        text-align: justify;
        line-height: 1.3rem;
        font-size: 0.775rem;
        color: #6a6a6a;
        padding: 2px 20px;
        border-width: 0 0 0 4px;
        border-color: #b6b6b6;
      }

      code {
        font-family: Menlo, Monaco, Lucida Console, Liberation Mono,
          DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace;
        background: #e1e1e1;
        padding: 4px;
        border-radius: 6px;
        font-size: 0.775rem;
      }

      .dark code {
        background: #2f2b3a;
      }

      p {
        letter-spacing: 0.05em;
        text-align: justify;
        line-height: 1.3rem;
        font-size: 0.875rem;
        color: #011c40;

        @apply mt-4;
      }

      .dark p {
        color: #eee;
      }

      button {
        display: flex;
        margin-top: 30px;
        padding: 10px 10px 10px 10px;
        border: solid 1.5px rgb(61, 61, 61);
        border-radius: 5px;
      }

      button:hover {
        background-color: #f0f0f0;
      }
    </style>

    <script>
      var allWords = []
      var getP = document.getElementsByTagName('p')
      for (var i = 0; i < getP.length; i++){
        allWords.push(getP[i].innerText)
      }
      console.log(allWords.join(','))

      console.log(allWords.join(',').split(' '))
  
    </script>
  </body>
</html>
