---
import NavBar from "../components/NavBar.astro";
import Footer from "../components/Footer.astro";
import { ViewTransitions } from "astro:transitions";

export interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html class="bg-grainy" lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <ViewTransitions />
  </head>
  <body class="scrollbar-thumb-darkBlue scrollbar-track-slate-800 scrollbar-thin scrollbar-thumb-rounded-full scrollbar-track-rounded-full">
    <NavBar />
    <slot />
    <Footer />
    <style>
      html {
        font-family: system-ui, sans-serif;
        font-size: 1.3em;
      }
      
      .bg-grainy{
        background-size: cover;
        background-image: url(../back-grainy.svg);
      }

      body {
        margin-left: 30% !important;
        margin-right: 30% !important;
      }

      @media (max-width: 768px){
        .bg-grainy{
        background-size: cover;
        background-image: none;
      }
      }

      @media (max-width: 768px) {
        body {
          margin-left: 15% !important;
          margin-right: 15% !important;
        }
      }
    </style>

    <style is:global>
      html  {
        background-color: #1a1623;
        color: #eeeeee;
      }

      a {
        color: #eeeeee;
      }
      p {
        color: #eeeeee;
      }
      h2 {
        font-size: var(--font-size-lg);
      }

      code {
        font-family: Menlo, Monaco, Lucida Console, Liberation Mono,
          DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace;
      }
      p {
        letter-spacing: 0.05em;
        text-align: justify;
        line-height: 1.3rem;
        font-size: 0.9rem;
      }
      li {
        letter-spacing: 0.05em;
        text-align: justify;
        line-height: 1.3rem;
        font-size: 0.9rem;
      }
    </style>
  </body>
</html>
